<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/create">Create Bookings</a>
        <a href="/users"> View Bookings</a>
        <a href="users/modify">Modify Bookings</a>
        <a href="users/del">Delete Bookings</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    <h1><%= message %></h1>
    <p>We are a company that prides itself on promoting the fine sport of paintball around Cork. Started in 2006, we have a dream to bring this sport to the general public as a major Irish sport and it is our ambition it will one day be a sport at the Olympic level.</p>
    <p>We currently have two locations to play paintball in Cork.</p>
    <div>
        <p>Cork City Location</p>
        <img src="../public/images/Paintball-Cork.jpg" alt="Picture of Location" width="600" height="400">
        <p> Marina Commercial Park, Centre Park Rd, Ballintemple, Cork</p>
    </div>
    <div>
        <p>Sister Location</p>
        <img src="../public/images/shootout.jpg" alt="Watergrasshill action shot" width="600" height="400">
        <p>Watergrasshill, Cork</p>
    </div>
</body>
</html>