<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paintball Cork</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/create">Create Bookings</a>
        <a href="/users"> View Bookings</a>
        <a href="users/modify">Modify Bookings</a>
        <a href="users/del">Delete Bookings</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    <h1><%= message %></h1>
    <p>Welcome to our website!</p> 
    <p> We are Paintball Cork and on this website 
    you will be able to set a paintball event booking at our locations.</p>
    <p>Helpful links to information about our brand and company</p>
    <div>
        <a href="/about"><button class="button">About Page</button>
        <a href="/help"><button class="button">Help Page</button>
    </div>
</body>
</html>